.banner {
    background: url(../images/banner.png) no-repeat center;
    height: 100vh;
    background-position: center;
    object-fit: contain;
    background-size: cover;
    flex: 1;
    position: relative;
    .banner-body {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        .title {
            margin-bottom: 16px;
        }
        @media all and (max-width: 375px) {
            left: 38%;
        }
        p {
            font-size: 20px;
        }
    }
}