.btn {
    outline: 0;
    border: 0;
    background: none;
    padding: 0;
    -webkit-appearance: none;
    font-family: "lato", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.blue-btn {
    background: $primaryColor;
    color: white;
    border: 1px solid transparent;
    &:hover {
        color: $primaryColor;
        background: transparent;
        border: 1px solid $primaryColor;
    }
}

.red-btn {
    background: #EF0E2C;
    color: white;
}

.outline-btn {
    border: 1px solid $primaryColor;
    color: $primaryColor;
    background: transparent;
    &:hover {
        background: $primaryColor;
        color: white;
        border: 1px solid transparent;
    }
}