// General COLORS VARIABLES
$black: #272727;
$greyTextColor: #A1A1A1;
// Fonts
$font: 'Poppins',
sans-serif;
// Site Colors
$primaryColor:#28B6F6;
$secondaryColor:#A7A7A7;
// Padding
$blockPadding: 120px;